---
Checks:          'clang-diagnostic-*,clang-analyzer-*,clang-analyzer-*,concurrency-*,google-*,misc-*,performance-*,portability-*,readability-*'
CheckOptions:
  - key: 'google-readability-function-size.LineThreshold'
    value: '30'
